* {
  font-family: 'Source Sans Pro';
}

input {
  height: 50px;
}
.App {
  text-align: center;
}

body {
  background-color: #FBFBFB;
}

#subButtonRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navButton {
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;
  height: 100%;
}

#mainNav {
  background-color: white;
  width: 100vw;
  color: black;
  height: 8vh;
  display: flex;
  font-size: 1em;
  min-height: 60px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.modal {
  width: 80vw;
  max-width: 600px;
  min-height: 300px;
  background-color: white;
}

.exitButton {
  position: fixed;
  height: 3vw;
  width: 3vw;
  top: 10px;
  right: 10px;
  background-image: url('../src/Exit.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
}

.exitButton:hover {
  cursor: pointer;
}

.modal > header {
  display: flex;
  align-items: center;
  min-height: 60px;
  color: white;
  background-color: #707070;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.modalScreen {
  display: flex;
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  align-items: center; 
  justify-content: center;
}

#checkIn {
  background-color: #538AAF;
}

#checkOut {
  background-color: #F3BF71;
}

#navigation {
  position: absolute;
  text-align: start;
  z-index: 20;
  width: 200px;
  top: -1000px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navLinks {
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 1em;
  color: black;
  cursor: pointer;
}

.navLinks:hover {
  color:#707070;
  transition: .5s;
}

#logoDiv > h3 {
  font-weight: 300;
}

#logo {
  width: 35px;
  height: 35px;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto .5em auto 1em;
}

#logoDiv {
  display: flex;
  justify-self: flex-end;
  margin-left: auto;
  flex-direction: row-reverse;
}

#appBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 82vh;
}

.inputBox {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

#userSearchBox {
  width: 90vw;
  margin-top: 3em;
}

.case {
  padding-left: 10px;
}


.caseBox {
  width: 100px;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

#registerRedirect {
  position: absolute;
  height: 30px;
  top: -30px;
  cursor: pointer;
  border: none;
  background: #7ebf6f;
  letter-spacing: 1px;
  color: white;
  width: 15%;
  min-width: 140px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.checkForm {
  width: 100%;
}

.checkForm  > select {
  width: 100%;
  height: 50px;
  margin: 1em 0;
  outline: none;
}

.menuNav {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.menuNav > button {
  width: 50%;
  height: 5vh;
  text-align: center;
  font-weight: bold;
}

.timeRow {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}

.timeRow > div {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 30%;
  margin-right: 1em;
}

.case > h3 {
  color: #2b2a2a;
  font-weight: 400;
  text-align: left;
}

#searchOutput {
  min-height: 400px;
  width: 95%;
  margin-top: 3em;
  padding-bottom: 30px;
  margin-bottom: 2em;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  display: flex;
  flex-direction: column;
}

#searchOutput > h2 {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #B6C276;
  padding: 0 10px;
  font-weight: 100;
  color: white;
  margin: 0;
}

.formTitle {
  font-size: 2.2em;
  margin-bottom: 1em;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.formTitle::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 60%;
  border-bottom: 3px solid black;
}

#userLoginBox {
  position: absolute;
  z-index: 10;
  min-height: 200px;
  width: 80%;
  max-width: 600px;
}

#userLoginBox > input {
  background-color: white;

}

.inputBox > label {
  font-size: 1.2em;
  font-weight: bold;
  color: #545252;
}

textarea:focus, input:focus{
  outline: none;
}

.inputBox > input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #707070;
  padding-left: 10px;
  margin: 1em 0;
}

.errorMessage {
  color: red;
  margin-top: 0;
  margin-bottom: 10px;
}

.menuButton {
  width: 80vw;
  text-align: left;
  height: 80px;
  margin-bottom: 1.5em;
  color: white;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

.menuButton > h2 {
  font-size: 1.5em;
}

.reactLink {
  text-decoration: none;
}

.logo {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,0,0.10);
  background-image: url("./logo.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.button {
  min-width: 130px;
  margin-top: 1em;
  cursor: pointer;
  border: none;
  font-weight: normal;
  text-align: start;
  align-self: flex-end;
  height: 35px;
  background-color: #01426a;
  color: white;
}

#userSearchBox > button:hover {
  background-color: #6B84AF;
  transition: .5s;
}


@media only screen and (min-width: 650px) {
  header {
    font-size: 1em;
  }

  .logo {
    width: 15%;
    height: 100%;
  }

  .menuButton {
    width: 700px;
    height: 100px;
    margin-bottom: 2em;
  }

  .menuButton > h2 {
    font-size: 2em;
  }

  #navigation {
    position: inherit;
    flex-direction: row;
  }

  #logo {
    width: 45px;
    height: 45px;
  }

  #userSearchBox {
    width: 60vw;
  }
}

@media only screen and (min-width: 850px) {
  #subButtonRow {
    flex-direction: row;
  }

  #checkIn {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  #appBody {
    flex-direction: row;
    padding: 0 20px;
    justify-content: space-around;
    align-items: baseline;
  }

  #userSearchBox {
    width: 40%;
    min-width: 500px;
  }

  #searchOutput {
    width: 45%;
  }

}